body {
    background-image:url('../carpetaIMAGENES/fondoportafolioo.jpg');
    
    background-color: #53a4f5;
    font-family: Arial, sans-serif;
}

.navbar {
    margin-bottom: 20px;
}

.col-lg-6{
    padding: 3;

}

.titulo {
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
    color: #343a40;
}

.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

footer {
    background-color: #343a40;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
}

img.rounded-circle {
    max-width: 100%;
    border-radius: 50%;
    background-color: beige;
    border-color: solid rgb(31, 212, 236);
}
